.sideNav{
    max-width: 380px;
    overflow: hidden;
    width: 85%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top:0;
    left:0;
    background-color: white;
    transform-origin: left center;
    transform: translateX(-420px);
    
}
@keyframes moveSideBar{
    0%{
        transform: translateX(-420px);
        z-index: 100;
    }
    100%{
        transform: translateX(0px);
        z-index: 100;
    }
}
.circleIcon{
    width: 30px !important;
    height: 30px !important;
    margin-left: 6px;
    margin-right: 10px;
}
.sideNavHeader{
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    background-color: rgb(35,47,62);
    padding: 10px 0px 10px 30px;
    font-size:19px;
}