p{
    margin-bottom: 0;
}
.oneProductImg{
    height: 200px;
    width: 200px;
    object-fit: contain;
    margin:auto;
}
.oneProduct{
    
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: white;
    margin: 20px;
    padding:10px;
}
.categoryClass{
    position:absolute;
    right:15px;
    font-size: x-small;
    color: gray;
    font-weight: 600;
}
.h4Class{
    margin-top: 10px;
    font-size:16px;
}
.starIcons{
    color: #FFA41C;
}
.amazonButton{
    display: flex;
    flex-direction: column;
    padding:5px;
    background-color:#ffd51b ;
    border-radius: 1rem;
    align-items: center;
}
.amazonButton:hover{

    background-color: #F7CA00;
}
.amazonButton p{
    margin-bottom: 0;
}
.descriptionClass{
    display: -webkit-inline-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 3;
    overflow:hidden;
    margin-bottom: 0;
}
.prime{
    display:flex;
    align-items: center;
}
.prime img{
    /* width: fit-content; */
    height: 50px;
}
.prime p{
    margin-bottom: 0;
    color: gray;
    font-weight: 400;
    font-size: x-small;
}
@media(min-width:100px){
    .oneProduct{
        width: 100%;
    }
}
@media(min-width:600px){
    .oneProduct{
        width: 42%;
    }
    
}
@media(min-width:1000px){
    .oneProduct{
        width: 29%;
    }
}



@media(min-width:1500px){
    .oneProduct{
        width: 22%;
    }
}


















