 .carousel-indicators,
  .carousel-indicators li {
    cursor: default;
    pointer-events: none;
    opacity: 0;
  }
  .carousel-inner > .item > img {
   width: 90% !important;
   height: 600px;

}
.carousel-control-next, .carousel-control-prev{
    height: 50%;
    width:8% ;
}
.sliderSize{
  width:100%;
  min-width: 512px;
}
@media(min-width:600px){
  .sliderSize{
    margin-bottom:-20%

  }
}
@media(min-width:1000px){
  .sliderSize{
    margin-bottom:-20%
  }
}
.w-100{
 background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); 

}